.inputs .table thead {
  background-color: coral;
  color: white;
}
.inputs .table .column {
  width: 80px;
  text-align: center;
}
.inputs .table .column .input {
  width: 50px;
}

.result {
  text-align: center;
}
